
<!doctype html>
{% load static %}
<meta name="description" content="Krishin International is a manufacturer and exporter engaged into PP Woven and Non-Woven Bags since 7 Years and it is located at Rajkot, Gujarat, India. We are offering wide range of PP Woven Bags and Non-Woven Bags and Sacks like; Jumbo Bag, D-Cut Bags, W-Cut Bags, Etc. We manufacture and produce high qualitative and superior qualitative Sacks and Bags. We believe into reliability to ensure quality to our clients. We are also offering both standardized and customized range of products to our clients as per demand of the same.">
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('static/imgs/7B.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  color: teal;
  font-size: 175%;
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
</head>
<body>
<div class="bgimg">
  <div class="middle">
    <h1>COMING SOON</h1>
  </div>
</div>
</body>
</html>